<!DOCTYPE html>
<html>
    <body>
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="mb-4">UBICACIÓN</h4>
                        <p class="pre-wrap lead mb-0">Antonio Varas 666</p>
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="mb-4">REDES SOCIALES</h4><a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/"><i class="fab fa-fw fa-facebook-f"></i></a><a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/?lang=es"><i class="fab fa-fw fa-twitter"></i></a><a class="btn btn-outline-light btn-social mx-1" href="https://cl.linkedin.com/"><i class="fab fa-fw fa-linkedin-in"></i></a>
                    </div>
                    <!-- Footer About Text-->
                    <div class="col-lg-4">
                        <h4 class="mb-4">Xbox Series X</h4>
                        <p class="pre-wrap lead mb-0">Power Your Dreams</p>
                        <p class="pre-wrap lead mb-0">La nueva consola de Xbox estará a la venta este 22 de Noviembre!</p>
                        <a href="https://www.xbox.com/es-CL/consoles/xbox-series-x"><p class="pre-wrap lead mb-0">Ver más</p></a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>