<html> 
<head>
<title>Fallout 4 Game of The Year Edition</title>
        <script src="jotayeison/index/bootstrap.bundle.min.js" type="text/javascript"></script>
        <link href="jotayeison/index/bootstrap.min.css" rel="stylesheet" type="text/css">
        <script src="jotayeison/index/jquery.slim.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="Estilos/estilo_tienda.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

Descripción El juego de rol de Bethesda ambientado tras una apocalíptica hecatombe nuclear recibe su edición más completa. 
            La edición Fallout 4: Game of the Year Edition incluye todas las actualizaciones de juego (como el modo Supervivencia), mejoras gráficas, 
            la posibilidad de jugar a mods gratis, y todo el contenido adicional oficial.


</body>

</html>