<html> 
<head>
<title>FarCry 6</title>
        <script src="jotayeison/index/bootstrap.bundle.min.js" type="text/javascript"></script>
        <link href="jotayeison/index/bootstrap.min.css" rel="stylesheet" type="text/css">
        <script src="jotayeison/index/jquery.slim.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="Estilos/estilo_tienda.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

Descripción Te damos la bienvenida a Yara, un paraíso tropical que se ha detenido en el tiempo. 
            FAR CRY®6 lanza a los jugadores al mundo cargado de adrenalina de una revolución guerrillera actual. 
            Como dictador de Yara, Anton Castillo está decidido a devolver a su nación la antigua gloria perdida por todos los medios, 
            y su hijo Diego sigue sus sangrientos pasos. Conviértete en un guerrillero y reduce su régimen a cenizas.


</body>

</html>