<html> 
<head>
<title>Forza Horizon 4</title>
        <script src="jotayeison/index/bootstrap.bundle.min.js" type="text/javascript"></script>
        <link href="jotayeison/index/bootstrap.min.css" rel="stylesheet" type="text/css">
        <script src="jotayeison/index/jquery.slim.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="Estilos/estilo_tienda.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

Descripción Las temporadas dinámicas lo cambian todo en el mejor festival automovilístico del mundo. 
            Juega solo o en equipo para explorar la hermosa Gran Bretaña en un mundo abierto y compartido. 
            Colecciona, modifica y conduce más de 450 autos. Compite, crea, explora y escoge tu propio camino para convertirte en una superestrella de Horizon. 
            El paquete digital Forza Horizon 4 edición estándar incluye el juego completo Forza Horizon 4 y el paquete de autos Fórmula Drift.


</body>

</html>