<html> 
<head>
<title>One Piece Pirate Warriors 4</title>
        <script src="jotayeison/index/bootstrap.bundle.min.js" type="text/javascript"></script>
        <link href="jotayeison/index/bootstrap.min.css" rel="stylesheet" type="text/css">
        <script src="jotayeison/index/jquery.slim.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="Estilos/estilo_tienda.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

Descripción ¡ONE PIECE: PIRATE WARRIORS 4 es la última evolución de la acción de PIRATE WARRIORS! A partir del concepto "vivir un campo de batalla real ONE PIECE", 
            los edificios se derrumbarán durante la acción y los ataques liberarán humo y polvo, ¡colocándote en el foco del mundo ONE PIECE!


</body>

</html>