<html> 
<head>
<title>Watch Dogs Legion</title>
        <script src="jotayeison/index/bootstrap.bundle.min.js" type="text/javascript"></script>
        <link href="jotayeison/index/bootstrap.min.css" rel="stylesheet" type="text/css">
        <script src="jotayeison/index/jquery.slim.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="Estilos/estilo_tienda.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

Descripción Crea una resistencia a partir de cualquier persona en el mundo conforme luchas por recuperar del colapso a un Londres de un futuro cercano. 
            Experimenta una innovación en el modo de juego nunca antes vista que te permite reclutar y jugar como cualquier personaje. 
            Cada uno tiene una habilidad única para ayudar a tu equipo.


</body>

</html>