<html>
    <head>
        <meta charset= "UTF-8">
        <link  rel="icon"   href="Img/faviconxbox.ico" type="image/png"/>

        <script src="jotayeison/login/bootstrap.bundle.min.js" type="text/javascript"></script>
        <link href="jotayeison/login/bootstrap.min.css" rel="stylesheet" type="text/css">
        <script src="jotayeison/login/jquery.slim.js" type="text/javascript"></script>
        <link rel="stylesheet" href="Estilos/estilo_login.css" type="text/css">
        <script src="http://code.jquery.com/jquery.latest.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Inicia Sesión</title>        
    </head>
    <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="https://www.microsoft.com/es-cl"><i class="fa fa-windows" aria-hidden="true"> Microsoft</i></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/index2">Página principal
                  <span class="sr-only">(current)</span>
                </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tienda">Tienda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacto">Contacto</a>
          </li>
          <li>
            <p style="color:white">‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎</p>
          </li>
          <li class="nav-item">
            <span class="tamano"><a class="nav-link" href="/login"><i class="fa fa-user-circle" aria-hidden="true">  Iniciar Sesión</i></a></span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
        <div class="container-fluid">
            <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                    <div class="col-md-9 col-lg-8 mx-auto">
                        <h3 class="login-heading mb-4">Bienvenido!</h3>
                        <form>
                        <div class="form-label-group">
                            <input type="email" id="inputEmail" class="form-control" placeholder="Correo" required autofocus>
                            <label for="inputEmail">Correo</label>
                        </div>
      
                        <div class="form-label-group">
                            <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
                            <label for="inputPassword">Contraseña</label>
                        </div>
      
                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Recordar contraseña</label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Iniciar Sesión</button>                   
                        <br/>
                        <div class="text-center">
                            <a href="/registro">¿Aún no se ha creado una Cuenta? Registrarse!</a>
                        </div>
                        <div class="centrar2">
                            <a href="/registro"><i class="fa fa-address-card-o fa-lg" aria-hidden="true"></i></a>
                        </div>     
                        </form>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </body>
</html>