{% load static %}
<html>
    <head>
        <meta charset= "UTF-8">
        <link  rel="icon"   href="{% static 'img/faviconxbox.ico' %}" type="image/png"/>
        <link rel="stylesheet" href="{% static 'css/Principal/Estilos/estilo.css' %}" type="text/css">
        <script src="{% static 'js/Principal/jotayeison/login/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
        <link href="{% static 'js/Principal/jotayeison/login/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'js/Principal/jotayeison/login/jquery.slim.js' %}" type="text/javascript"></script>
        <link rel="stylesheet" href="{% static 'css/Principal/Estilos/estilo_login.css' %}" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--JQUERY LAST-->
        <script src="http://code.jquery.com/jquery.latest.min.js" type="text/javascript"></script>
 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>Registro</title>
    </head>
    <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="https://www.microsoft.com/es-cl"><i class="fa fa-windows" aria-hidden="true"> Microsoft</i></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="alado">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index2.html">Página principal
                  <span class="sr-only">(current)</span>
                </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="tienda.html">Tienda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contacto.html">Contacto</a>
          </li>
          <li>
            <p style="color:white">‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎</p>
          </li>
          <li class="nav-item">
            <span class="tamano"><a class="nav-link" href="login.html"><i class="fa fa-user-circle" aria-hidden="true">  Iniciar Sesión</i></a></span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
        <div class="container-fluid">
            <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                    <div class="col-md-9 col-lg-8 mx-auto">
                        <h3 class="login-heading mb-4">Bienvenido! Aquí podrás Registrarte</h3>
                        <form role="form" action="#" method="POST" id="frmRegistro">
                          {% csrf_token %}
                            <div class="form-label-group" id="fgFirst_name">
                                <input type="text" name="first_name" id="first_name" class="form-control" placeholder="Ingrese su Nombre" > 
                                <label for="first_name">Ingrese su Nombre</label>
                            </div>
    
                            <div class="form-label-group" name id="fgLast_name">
                                <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Ingrese su Apellido Paterno" >
                                <label for="last_name">Ingrese su Apellido Paterno</label>
                            </div>
                            
                            <div class="form-label-group" id="fgUsername">
                              <input type="text" name="username" id="username" class="form-control" placeholder="Ingrese su Nombre" > 
                              <label for="username">Ingrese un Usuario</label>
                            </div>

                            <div class="form-label-group" id="fgEmail">
                                <input type="text" name="email" id="email" class="form-control" placeholder="Ingrese su Correo" >
                                <label for="email">Ingrese su Correo</label>
                            </div>

                            <div class="form-label-group" id="fgPassword1">
                              <input type="password" name="password1" id="password1" class="form-control" placeholder="Ingrese su Contraseña" >
                              <label for="password1">Ingrese su Contraseña</label>
                            </div>

                            <div class="form-label-group" id="fgPassword2">
                              <input type="password" name="password2" id="password2" class="form-control" placeholder="Ingrese su Contraseña" >
                              <label for="password2">Confirme su Contraseña</label>
                            </div>

                            <!--<div class="form-label-group" id="fgFecNac">
                                <input type="date" id="inputFecNac" class="form-control" placeholder="FecNac" >
                                <label for="inputFecNac">Fecha de nacimiento</label>
                            </div>-->

                            <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Registrar</button>
                            
                            <div class="centrar">
                                <a href="javascript:history.back(1)"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"> Volver</i></a>
                            </div>
                            {% for message in messages %}
                            <p>{{message}}</p>
                            {% endfor %}
                        </form>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div><br><br>

        </div>
        <script src="dist/js/sb-admin-2.js"></script>










        

        <!--<script src="js/script.js"></script> <- ESTE ES UN SCRIPT EN EL QUE ESTABAMOS TRABAJANDO-->
    <!--<script type="text/javascript">
      /*Variables Pattern */  
      var namePattern = "^[a-z A-Z]{2,30}$";
      var mailPattern = "^[a-zA-Z0-9._-]+@[a-zA-Z0-9-]+.[a-zA-Z]{2,4}$";
      var contrPattern = "^[a-zA-Z0-9._-]{2,30}$";
      var apellPattern = "^[a-z A-Z]{2,50}$";
      var rutPattern = "[k-K0-9]{8,9}$";
      /*Función para validar el ingreso del nombre */  
      function checkNombre(idInput,namePattern){
        return $(idInput).val().match(namePattern)? true: false;
      }

      $(
        function(){
            $("#frmRegistro").submit(function(e){
                if(!checkNombre("#inputNombre",namePattern)) 
                {
                    $("#fgNombre").addClass("has-error");
                    alert("El campo nombre debe tener mas de 4 caracteres");
                    e.preventDefault();
                  }   
              } 
            );
        }
      );
      /*Función para validar el ingreso de los apellidos */  
      function checkApellidos(idInput,apellPattern){
        return $(idInput).val().match(apellPattern)? true: false;
      }

      $(
        function(){
            $("#frmRegistro").submit(function(e){
              if(!checkApellidos("#inputApellidos",apellPattern))
              {
                  $("#fgApellidos").addClass("has-error");
                  alert("El campo debe contener sus apellidos.");
                  e.preventDefault();

                }
            } 
          );
        }
      );

      /* función fallida u.u
      function checkEmail(idInput,mailPattern){
        return(idInput).val().match(mailPattern)? true: false;
      }

      $(
        function(){
          $("#frmRegistro").submit(function(e){
            if(!checkEmail("#inputEmail",mailPattern))
            {
              $("#fgCorreo").addClass("has-error");
                  alert("El campo debe contener un @.");
                  e.preventDefault();
              } 
            }
          );
        }
      );
      */
      /*Función para validar el ingreso del Rut */   
      function checkRut(idInput,rutPattern){
        return $(idInput).val().match(rutPattern)? true: false;
      }

      $(
        function(){
            $("#frmRegistro").submit(function(e){
              if(!checkRut("#inputRut",rutPattern))
              {
                  $("#fgRut").addClass("has-error");
                  alert("El campo no debe contener guion, dede estar entre 8 y 9 caracteres y solo puede contener la letra K");
                  e.preventDefault();

                }
            } 
          );
        }
      );  
      /*Función para validar el ingreso de la contraseña*/
      function checkContraseña(idInput,contrPattern){
        return $(idInput).val().match(contrPattern)? true: false;
      }

      $(
        function(){
            $("#frmRegistro").submit(function(e){
              if(!checkContraseña("#inputPassword",contrPattern))
              {
                  $("#fgContraseña").addClass("has-error");
                  alert("El campo debe contener mayusculas, minusculas y numeros.");
                  e.preventDefault();

                }
            } 
          );
        }
      );   
    </script>-->
    </body>
</html>