<html>
    <head>
        <title>Tienda - Página 1</title>
        <link  rel="icon"   href="Img/faviconxbox.ico" type="image/png"/>
        
        <script src="jotayeison/index/bootstrap.bundle.min.js" type="text/javascript"></script>
        <link href="jotayeison/index/bootstrap.min.css" rel="stylesheet" type="text/css">
        <script src="jotayeison/index/jquery.slim.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="Estilos/estilo_tienda.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <!-- Core theme CSS (includes Bootstrap)-->
                <link href="css/styles.css" rel="stylesheet">
                <!-- Fonts CSS-->
                <link rel="stylesheet" href="css/heading.css">
                <link rel="stylesheet" href="css/body.css">
    </head>
    <body>
        <!-- Navigation -->
  <script src="jotayeison/index/bootstrap.bundle.min.js" type="text/javascript"></script>
  <link href="jotayeison/index/bootstrap.min.css" rel="stylesheet" type="text/css">
  <script src="jotayeison/index/jquery.slim.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="Estilos/estilo.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  

  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="https://www.microsoft.com/es-cl"><i class="fa fa-windows" aria-hidden="true"> Microsoft</i></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index2.html">Página principal
                  <span class="sr-only">(current)</span>
                </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="tienda.html">Tienda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contacto.html">Contacto</a>
          </li>
          <li>
            <p style="color:white">‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎</p>
          </li>
          <li class="nav-item">
            <span class="tamano"><a class="nav-link" href="login.html"><i class="fa fa-user-circle" aria-hidden="true">  Iniciar Sesión</i></a></span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
              <!-- Page Content -->
        <div class="container">

           <!-- Page Heading --><br/>
           <h1 style="color: transparent">‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎‎      ‏‏‎
             <small> ‏‏‎‎    </small>
           </h1>
       
           <div class="row">
             <div class="col-lg-4 col-sm-6 mb-4" data-toggle="modal" data-target="#portfolioModal0">
               <div class="card h-100">
                 <a href="#portfolioModal0"></a><img class="card-img-top" src="https://dprimero.com/wp-content/uploads/2020/05/ACK_UCS16407_XOne_BXSHT2D_US.jpg"></a>
                 <div class="card-body">
                   <h4 class="card-title">
                     <a href="#portfolioModal0">Assasins Creed Valhalla</a>
                   </h4>
                   <b><p class="card-text">$45.990</p></b>
                 </div>
               </div>
             </div>


             <div class="col-lg-4 col-sm-6 mb-4" data-toggle="modal" data-target="#portfolioModal1">
               <div class="card h-100">
                 <a href="#portfolioModal1"><img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/710du8%2BREiL._SL1108_.jpg" height="442"></a>
                 <div class="card-body">
                   <h4 class="card-title">
                     <a href="#portfolioModal2">Forza Horizon 4</a>
                   </h4>
                   <b><p class="card-text">$30.990</p></b>
                 </div>
               </div>
             </div>
             <div class="col-lg-4 col-sm-6 mb-4" data-toggle="modal" data-target="#portfolioModal2">
               <div class="card h-100">
                 <a href="#portfolioModal2"><img class="card-img-top" src="https://images.g2a.com/newlayout/323x433/1x1x0/9959c6b29917/5c3f3e82ae653a48c1748ee5" height="442"></a>
                 <div class="card-body">
                   <h4 class="card-title">
                     <a href="#portfolioModal2">Minecraft</a>
                   </h4>
                   <b><p class="card-text">$12.990</p></b>
                 </div>
               </div>
             </div>
             <div class="col-lg-4 col-sm-6 mb-4" data-toggle="modal" data-target="#portfolioModal3">
               <div class="card h-100">
                 <a href="#portfolioModal3"><img class="card-img-top" src="https://www.somosxbox.com/wp-content/uploads/2020/07/fifa21-pre-xone-front-norating-rgb.png" alt=""></a>
                 <div class="card-body">
                   <h4 class="card-title">
                     <a href="#portfolioModal3">FIFA 21</a>
                   </h4>
                   <b><p class="card-text">$45.990</p></b>
                 </div>
               </div>
             </div>
             <div class="col-lg-4 col-sm-6 mb-4" data-toggle="modal" data-target="#portfolioModal4">
               <div class="card h-100">
                 <a href="#portfolioModal4"><img class="card-img-top" src="https://generacionxbox.com/wp-content/uploads/2020/07/far-cry-xbox-series-x-portada-2.jpg" alt=""></a>
                 <div class="card-body">
                   <h4 class="card-title">
                     <a href="#portfolioModal4">FarCry 6</a>
                   </h4>
                   <b><p class="card-text">$45.990</p></b>
                 </div>
               </div>
             </div>
             <div class="col-lg-4 col-sm-6 mb-4" data-toggle="modal" data-target="#portfolioModal5">
               <div class="card h-100">
                 <a href="#portfolioModal5"><img class="card-img-top" src="https://uvejuegos.com/img/caratulas/61232/DOOME_ONE_2Dpack_es_pegi_1559730286.jpg" height="442"></a>
                 <div class="card-body">
                   <h4 class="card-title">
                      <a href="#portfolioModal5">Doom Eternal</a>
                   </h4>
                   <b><p class="card-text">$35.990</p></b>
                 </div>
               </div>
             </div>
           </div>
           <!-- /.row -->

           <!--PESTAÑAS MODALES-->
           <section>
            <div class="portfolio-modal modal fade" id="portfolioModal0" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal0Label" aria-hidden="true">
              <div class="modal-dialog modal-xl" role="document">
                  <div class="modal-content">
                      <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
                      <div class="modal-body text-center">
                          <div class="container">
                              <div class="row justify-content-center">
                                  <div class="col-lg-8">
                                      <!-- Portfolio Modal - Title-->
                                      <h2 class="portfolio-modal-title text-secondary mb-0">Assasins Creed: Valhalla</h2>
                                      <!-- Icon Divider-->
                                      <div class="divider-custom">
                                          <div class="divider-custom-line"></div>
                                          <div class="divider-custom-icon"><i class="fa fa-gamepad"></i></div>
                                          <div class="divider-custom-line"></div>
                                      </div>
                                      <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="https://dprimero.com/wp-content/uploads/2020/05/ACK_UCS16407_XOne_BXSHT2D_US.jpg" alt="Log Cabin"/>
                                      <h1 class="portfolio-modal-title">$45.990</h1><br/>
                                      <!-- Portfolio Modal - Text-->
                                      <p class="mb-5">Valhalla cuenta la historia de Eivor, un vikingo o vikinga, según lo elijamos tal y como ocurría en la entrega anterior
                                          que debe liderar a su clan para escapar del frío noruego para colonizar los campos ingleses del siglo IX.</p>
                                      <button class="btn btn-primary" style="background-color: green" href="#" data-dismiss="modal"><i class="fa fa-times fa-fw"></i>Cerrar Ventana</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-----=============================================================================================================--->
          <!-----=============================================================================================================--->
          <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary mb-0">Forza Horizon 4</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fa fa-gamepad"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="https://images-na.ssl-images-amazon.com/images/I/710du8%2BREiL._SL1108_.jpg" alt="Log Cabin"/>
                                    <h1 class="portfolio-modal-title">$30.990</h1><br/>
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-5">Las temporadas dinámicas lo cambian todo en el mejor festival automovilístico del mundo. 
                                      Juega solo o en equipo para explorar la hermosa Gran Bretaña en un mundo abierto y compartido. 
                                      Colecciona, modifica y conduce más de 450 autos. Compite, crea, explora y escoge tu propio camino para convertirte en una superestrella de Horizon. 
                                      El paquete digital Forza Horizon 4 edición estándar incluye el juego completo Forza Horizon 4 y el paquete de autos Fórmula Drift.</p>
                                    <button class="btn btn-primary" style="background-color: green" href="#" data-dismiss="modal"><i class="fa fa-times fa-fw"></i>Cerrar Ventana</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          <!-----=============================================================================================================--->
          <!-----=============================================================================================================--->
          <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal2Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary mb-0">Minecraft</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fa fa-gamepad"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="https://images.g2a.com/newlayout/323x433/1x1x0/9959c6b29917/5c3f3e82ae653a48c1748ee5" alt="Log Cabin"/>
                                    <h1 class="portfolio-modal-title">$12.990</h1><br/>
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-5">Crea todo lo que puedas imaginar. Explora los mundos generados al azar. Sobrevive entre las criaturas peligrosas por la noche.</p>
                                    <button class="btn btn-primary" style="background-color: green" href="#" data-dismiss="modal"><i class="fa fa-times fa-fw"></i>Cerrar Ventana</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          <!-----=============================================================================================================--->
          <!-----=============================================================================================================--->
          <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal3Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary mb-0">FIFA 21</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fa fa-gamepad"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="https://www.somosxbox.com/wp-content/uploads/2020/07/fifa21-pre-xone-front-norating-rgb.png" alt="Log Cabin"/>
                                    <h1 class="portfolio-modal-title">$45.990</h1><br/>
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-5">Esta Doble Versión contiene los títulos para Xbox One y Xbox Series X|S (entregadas por separado cuando estén disponibles).
                                      Comparte la gloria en EA SPORTS™ FIFA 21 con formas nuevas de jugar en equipo en la calle y el estadio para disfrutar de victorias aún más importantes.</p>
                                    <button class="btn btn-primary" style="background-color: green" href="#" data-dismiss="modal"><i class="fa fa-times fa-fw"></i>Cerrar Ventana</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          <!-----=============================================================================================================--->
          <!-----=============================================================================================================--->
          <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal4Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary mb-0">Far Cry 6</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fa fa-gamepad"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="https://generacionxbox.com/wp-content/uploads/2020/07/far-cry-xbox-series-x-portada-2.jpg" alt="Log Cabin"/>
                                    <h1 class="portfolio-modal-title">$45.990</h1><br/>
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-5">Te damos la bienvenida a Yara, un paraíso tropical que se ha detenido en el tiempo. 
                                      FAR CRY®6 lanza a los jugadores al mundo cargado de adrenalina de una revolución guerrillera actual. 
                                      Como dictador de Yara, Anton Castillo está decidido a devolver a su nación la antigua gloria perdida por todos los medios, 
                                      y su hijo Diego sigue sus sangrientos pasos. Conviértete en un guerrillero y reduce su régimen a cenizas.</p>
                                    <button class="btn btn-primary" style="background-color: green" href="#" data-dismiss="modal"><i class="fa fa-times fa-fw"></i>Cerrar Ventana</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          <!-----=============================================================================================================--->
          <!-----=============================================================================================================--->
          <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal5Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary mb-0">Doom Eternal</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fa fa-gamepad"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="https://uvejuegos.com/img/caratulas/61232/DOOME_ONE_2Dpack_es_pegi_1559730286.jpg" alt="Log Cabin"/>
                                    <h1 class="portfolio-modal-title">$35.990</h1><br/>
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-5">Es la secuela directa del celebrado título de acción tipo shooter de 2016, el reboot de tan mítica franquicia. 
                                      Un personaje mucho más poderoso deberá enfrentarse al doble de demonios de la primera entrega. En el papel del DOOM Slayer, descubrirás a tu regreso
                                      que los demonios han invadido la Tierra. Mándalos al infierno y descubre los orígenes del Slayer y su perpetua misión de matanza y destrucción... hasta el final.</p>
                                    <button class="btn btn-primary" style="background-color: green" href="#" data-dismiss="modal"><i class="fa fa-times fa-fw"></i>Cerrar Ventana</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          <!-----=============================================================================================================--->
          <!-----=============================================================================================================--->
           </section>

       
           <!-- Pagination -->
           <ul class="pagination justify-content-center">
             <li class="page-item">
               <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                   </a>
             </li>
             <li class="page-item">
               <a class="page-link" href="tienda.html">1</a>
             </li>
             <li class="page-item">
               <a class="page-link" href="tienda2.html">2</a>
             </li>
             <li class="page-item">
               <a class="page-link" href="tienda3.html">3</a>
             </li>
             <li class="page-item">
               <a class="page-link" href="tienda2.html" aria-label="Next">
                     <span aria-hidden="true">&raquo;</span>
                     <span class="sr-only">Next</span>
                   </a>
             </li>
           </ul>
           <center><a href="tienda2/tienda.html"><button class="btn btn-primary" style="background-color: green;" data-dismiss="modal"><i class="fa fa-shopping-bag fa-fw"></i> Otra Tienda</button></a></center>

           <br/>
        </div>
         <!-- /.container -->
    </body>

</html>